<!doctype html>
<html lang="ru">
{% load static %}

{% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="{% static 'currency/css/base.css'%}" rel="stylesheet" type="text/css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Currency Converter</title>
</head>

<body class="d-flex m-auto justify-content-center"
      style="background: url('{% static 'currency/images/img.jpg' %}') 50% fixed; background-size: cover;">
<section style="width: 100%;">
    <div class="container" style="width: 100%;">
            <div class="card box-shadow m-2" style="width: 100%; min-height: 100%; min-width: 100%;">
                <div class="card-header text-center" style="width: 100%">
                    <h4>Конвертер валют </h4>
                </div>

                <form action="." class="p-3" enctype="multipart/form-data" id="form" method="POST" style="width: 100%">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ currency_form.source_currency_value|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ currency_form.source_currency_code|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ currency_form.target_currency_code|as_crispy_field }}
                        </div>
                    </div>
                    {% if converted_currency %}
                    <div class="card col-6 p-0 m-auto">
                        <div class="card-header text-center">
                            <h5>Итог</h5>
                            <h5>Из <b>{{currency_form.source_currency_code.value}}</b> в
                                <b>{{currency_form.target_currency_code.value}}</b></h5>
                        </div>
                        <div class="card-body">
                            {{converted_currency}}
                        </div>

                    </div>
                    {% endif %}


                    <hr class="hr-line-dashed">
                    <div class="form-footer text-center">
                        <input class="btn-danger btn-lg btn" id="submit" style="width: 100%" type="submit"
                               value="Конвертировать"/>
                    </div>

                </form>

            </div>
        </div>
</section>


</body>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            if($('#id_source_currency_value').val()){
                $('#submit').attr('value', 'Конвертируем...');

            }
        });
    });

</script>

</html>